.photographer_media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_media article {
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}


.photographer_media article img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 2%;
}
.photographer_media article video {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 2%;
}
.photographer_media article h2
{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 20px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.photographer_media article footer
{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 20px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.footer_heart_icon
{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 20px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.like_margin
{
    margin-right: 4px;
}

.photograph-header > *
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photograph-header_history
{
    display: column;
    align-items: center;
}
#cityCountry
{
    color: #901C1C;
    font-size: 20px;
}
#name_photographer
{
    color: #D3573C;
    font-size: 40px;
}

#photoProfile
{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.button_heart
{
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    color:#901C1C ;
}
.like_heart
{
    display: flex;
    margin-left: 10px;
}

.triage
{
    margin: 0 100px;
}

.triage_container
{
    display: flex;
    margin-top: 20px;
}
.triage_text
{
    font-weight: bold;
    font-size: 20px;
    
}
.triage_decoration
{
    margin-left: 20px;
    background-color: #901C1C;
    height: 60px;
    width: 170px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.modalTitle
{
    font-size: 46px;
}
.spaceTitleX
{
    justify-content: space-between;
}

#tab
{
    background-color: #DB8876;
    border: none;
}

.photograph-header > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
