#contact_modal {
    display: none;
}

.contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    z-index: 1;
    top: 50px;
    right: 0;
    left: 0;
    overflow: auto;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 26px;
    margin-bottom: -10px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


.text-control {
    margin: 0;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}

/*Modal photography*/

.modalPhoto header img {
    cursor: pointer;
}

.photo {
    border-radius: 5px;
    cursor: pointer;
}

.modalPict {
    display: none;
}

.modalPhoto {
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    overflow: auto;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    position: fixed;
}

#linkImg {
    max-width: 500px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2%;
    object-position: center;
}

#linkImg>* {
    max-width: 500px;
    width: 100%;
    height: auto;
    max-height: 620px;
}

.messagesize {
    height: 200px;
}

#container_like_price>* {
    background-color: #D3573C;
    width: 225px;
    height: 50px;
    display: flex;
    bottom: 0;
    position: fixed;
    right: 5rem;
    border-radius: 2%;
}

#price {
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.full_likes {
    margin: auto;
    font-size: 15px;
}

.closePhoto {

    display: flex;
    right: 16rem;
    top: 11rem;
    border: none;
    color: #901C1C;
    background-color: transparent;
    font-size: 30px;
    height: 30px;
    margin-left: -30px;
}

.modalSize {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.precedent_suivant {
    border: none;
    background-color: transparent;
    color: #901C1C;
    font-size: 40px;
}